<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- SQL dialect -->
<!--         <property name="dialect">org.hibernate.dialect.H2Dialect</property> -->
        
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:file:./example;DB_CLOSE_DELAY=-1;MVCC=TRUE</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>


        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
		<!-- The mapping information of entities -->
        <!-- uncomment the group of four which you intend to use. Enabling all causes a Hibernate exception at startup -->
<!--         <mapping class="hibernate_example.singletable.Book"/> -->
<!--         <mapping class="hibernate_example.singletable.Author"/> -->
<!--         <mapping class="hibernate_example.singletable.Publisher"/> -->
<!--         <mapping class="hibernate_example.singletable.AbstractPerson"/> -->
        <mapping class="hibernate_example.joined.Book"/>
        <mapping class="hibernate_example.joined.Author" />
        <mapping class="hibernate_example.joined.Publisher"/>
        <mapping class="hibernate_example.joined.AbstractPerson"/>
<!--         <mapping class="hibernate_example.tableperclass.Book"/> -->
<!--         <mapping class="hibernate_example.tableperclass.Author"/> -->
<!--         <mapping class="hibernate_example.tableperclass.Publisher"/> -->
<!--         <mapping class="hibernate_example.tableperclass.AbstractPerson"/> -->

    </session-factory>

</hibernate-configuration>